.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border: 1.5px solid #bbe1fa;
}
.inputs {
  display: flex;
  gap: 1rem;
}

.form input {
  background: #064663;
  color: #bbe1fa;
  font-size: 1rem;
  text-align: center;
  flex: 1 1 auto;
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.form button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #bbe1fa;
  color: #041c32;
}
