@import '../index.css';
.row {
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-light);
  margin: 0.5rem auto;
}
.row h2 {
  color: var(--font-color);
}
.row button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.5rem;
}
.row svg {
  fill: var(--font-color);
  cursor: pointer;
  width: 20px;
  height: 20px;
}
