@import '../index.css';

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border: 1.5px solid var(--font-color);
  width: 100%;
}
.inputs {
  display: flex;
  gap: 1rem;
}
.form label {
  display: block;
  background: var(--background-color-light);
  color: var(--font-color);
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  flex: 1 1 auto;
}
.form input {
  background: var(--background-color-light);
  color: var(--font-color);
  font-size: 1rem;
  text-align: center;
  flex: 1 1 auto;
  /* width: 50px; */
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.form button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--background-color-dark);
}
