.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal {
  position: absolute;
  width: 300px;
  padding: 1rem;
  border: 1.5px solid #bbe1fa;
  border-radius: 1rem;
  top: 100px;
  left: calc((100% - 300px) / 2);
  background-color: white;
  z-index: 101;
}
.modal p {
  color: #041c32;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.button button {
  background-color: #bbe1fa;
  color: #041c32;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
